
.search-image {
  background-image: url('/public/images/jo-127176-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
  object-fit: fill;
  /* height: 100%; */
  width: 100%;
}
