.leaflet-container {
  height: 700px; /*600px;*/
  width: 100%;
}

#map-component {
  width: 100%;
}

.leaflet-control-zoom {
  height: 81px;
}
/* theoretically this will apply to Safari only: */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .leaflet-control-zoom {
    height: 76px;
  }
}}

.leaflet-touch .leaflet-bar a, .leaflet-safari .leaflet-bar a {
  width: 35px;
  height: 30px;
  line-height: 25px;
  /* padding: 0.6rem, 0.6rem; */
}

.leaflet-touch .leaflet-bar a:first-child, .leaflet-safari .leaflet-bar a:first-child {
  border-radius: 4px;
}

.leaflet-touch .leaflet-bar a:last-child, .leaflet-safari .leaflet-bar a:last-child {
  border-radius: 4px;
}



/* .leaflet-safari .leaflet-bar a {
  width: 10px;
  height: 10px;
  padding: 0.6rem, 0.6rem;
} */

.leaflet-bar a:hover {
  background-color: #e4e4e4;
}

.leaflet-control-zoom .leaflet-control-zoom-in,
.leaflet-control-zoom .leaflet-control-zoom-out {
  font-size: 25px;
  margin: 0.35rem;
  text-indent: -1.2px;
  border-radius: 4px;
  filter:drop-shadow(0px 2px 2px #888);
}

.leaflet-container .leaflet-control-attribution a {
  font-size: 0.7rem;
}

.esri-dynamic-attribution {
  font-size: 0.7rem;
}

.leaflet-control-layers-base span:hover {
  background-color: #a5df00;
}

br {
  line-height: 1px;
}
