html {
  /* height: 100%; */
  box-sizing: border-box;
}

/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

body {
  margin: 0;
  padding: 0;
  /* padding-bottom: 10rem; */
  position: relative;
  min-height: 100%;
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media all and (min-width: 768px) {
  body::after {
    content: '';
    display: block;
    height: 169px;  /* Set same as footer's height */
  }
}

@media all and (max-width: 767px) {
  body::after {
    content: '';
    display: block;
    height: 653px;  /* Set same as footer's height */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.visible.left.sidebar~.pusher {
  transform: translate3d(200px, 0, 0);
}

.spinnerDiv {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
